/*colors
#FF5252---> rosa-coral
#212121---> negro-medio
#757575---> gris-oscuro
#BDBDBD---> gris claro */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #212121;
  color: #ffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/* estilos de para header*/
header{
  background: #e53935;
  background: -webkit-linear-gradient(to right, #e53935, #e35d5b);
  color: #ffff;
}
nav{
  outline: 1px solid red;
  padding: 10px;
}
.flex-row{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
img{
  width: 100px !important;
  height: 100px !important;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container{
  text-align: center;
}
.user-profile{
  margin-top: 30px;
 text-align: center;
}
.img-user{
  width: 40px;
  height:40px;
}
.input-container{
  margin-top: 15px;
}
.search-input{
  background-color: rgba(72, 62, 56, 0.7)!important;
}
/* estilos vista profile*/
.side-nav{
  background-color: rgba(41, 40, 42, 0.9);
}
.img-user-perfil{
  width: 100px;
  height:100px;
}
.user-view{
  margin-top: 40px;
}
.button-follow{
  padding: 5px !important;
  border-radius: 25px !important;
  height: 40px !important;
  border-radius: 5px;
  background: #e53935;
  background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
  background: linear-gradient(to right, #e35d5b, #e53935);
  color: #ffff;
  font-size: 10px;
}
.button-follow:active{
  background: #FF5252;
}
/* cambiando el tamaño del icono user en vista desktop*/
@media (min-width: 992px) {
  .img-user{
    width: 60px;
    height:60px;
  }
}
/* Estilos Slider Section */
#slider-section {
  padding: 1.5em 2em;
}
.horiz-scroll .scroller .scroll-images img {
  height: 40vh;
}
#responsive-sizing {
  text-align: center;
}

#responsive-sizing .spec {
  display: inline-block;
  margin: 10px 10px 10px 0;
}

#responsive-sizing .breakpoint {
  background-color: #333;
  color: white;
  border-radius: 5px 0 0 5px;
}

#responsive-sizing .vis-image-count {
  border-radius: 0 5px 5px 0;
  background-color: #ddd;
}

#responsive-sizing .breakpoint,
#responsive-sizing .vis-image-count {
  padding: 5px 10px;
}

/* Begin Scroller Rules */
.horiz-scroll {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: visible;
  position: relative;
}

.horiz-scroll h2 {
  font-weight: 600;
}

.horiz-scroll .scroller {
  max-height: 30vw;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
  background-color: white;
}

.horiz-scroll .scroller .left-scroll {
  left: 0;
}

.horiz-scroll .scroller .right-scroll {
  right: 0;
}

.horiz-scroll .scroller .left-scroll,
.horiz-scroll .scroller .right-scroll {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding: 0 2vw;
  overflow-x: hidden;
  z-index: 1;
  justify-content: center;
  -webkit-justify-content: center;
  position: absolute;
  height: 100%;
}

.horiz-scroll .scroller .left-scroll p,
.horiz-scroll .scroller .right-scroll p {
  font-size: 3em;
  color: white;
  text-shadow: 0 0 10px #333;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .horiz-scroll .scroller .left-scroll p,
  .horiz-scroll .scroller .right-scroll p {
    color: black;
  }
}

.horiz-scroll .scroller .scrollable-x {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar {
  display: none;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar {
  width: .375em;
  max-width: 12px;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar-track {
  background-color: transparent;
}

.horiz-scroll .scroller .scrollable-x::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1em;
}

.horiz-scroll .scroller .scroll-images {
  position: relative;
  flex: 8;
  -webkit-flex: 8;
  order: 2;
  -webkit-order: 2;
  z-index: 0;
  font-size: 0;
  overflow-y: visible;
  padding: 10% 0;
  margin: -10% 0;
  text-align: center;
}

.horiz-scroll .scroller .scroll-images img {
  width: 25%;
  top: 0;
  z-index: 0;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  position: relative;
}

@media only screen and (max-width: 960px) {
  .horiz-scroll .scroller .scroll-images img {
    width: 33.333%;
  }
}

@media only screen and (max-width: 720px) {
  .horiz-scroll .scroller .scroll-images img {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .horiz-scroll .scroller .scroll-images img {
    width: 50%;
    margin: 0 25%;
  }
}

.horiz-scroll .scroller .scroll-images img.focused {
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.25);
  height: 200%;
  transition: all 250ms ease-in-out, drop-shadow 0.5s;
}

.invisible {
  opacity: 0;
  transition: .5s ease-in-out;
}
