/*colors
#FF5252---> rosa-coral
#212121---> negro-medio
#757575---> gris-oscuro
#BDBDBD---> gris claro */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #212121;
  color: #ffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/* estilos de para header*/
header{
  background: #e53935;
  background: -webkit-linear-gradient(to right, #e53935, #e35d5b);
  color: #ffff;
}
.flex-row{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container{
  text-align: center;
}
.user-profile{
  margin-top: 30px;
 text-align: center;
}
.img-user{
  width: 40px;
  height:40px;
}
.input-container{
  margin-top: 15px;
}
.search-input{
  background-color: rgba(72, 62, 56, 0.7)!important;
}

.icon-user{
  font-size: 1.8em !important;
}

/* estilos vista profile*/
.side-nav{
  background-color: rgba(41, 40, 42, 0.9);
}
.img-user-perfil{
  width: 100px;
  height:100px;
}
.user-view{
  margin-top: 40px;
}
.button-follow {
  padding: 5px !important;
  border-radius: 25px !important;
  height: 40px !important;
  border-radius: 5px;
  background: #e53935;
  background: -webkit-linear-gradient(to right, #e35d5b, #e53935);
  background: linear-gradient(to right, #e35d5b, #e53935);
  color: #ffff;
  font-size: 10px;
}
.button-follow:active{
  background: #FF5252;
}
/* cambiando el tamaño del icono user en vista desktop*/
@media (min-width: 992px) {
  .img-user{
    width: 60px;
    height:60px;
  }
}

/* Estilos Slider Section */

.img-slides {
  width: 100px !important;
  height: 250px !important;
}
@media (min-width: 992px) {
  .img-slides {
    width: 220px !important;
    height: 450px !important;
  }
}
/* Estilos themed section */
.themed-img{
 margin-bottom: 2.5em;
 min-width: 3em;
 min-height: 3em;
}
.overlay {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
 }

 .container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 section img {
  filter: opacity(0.5);
 }
 /* footer */

 .bg-primary {
  background-color: #212121;
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}
a .icon-home :visited{
  color: #ff5252;
}
/* color para los iconos en estado normal */

.divider-color {
  color: #bdbdbd;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.padding-footer {
  padding: 0 10px;
}
.footer-desktop {
  padding:0;
  z-index: 1001;
  background-color: #212121;
}
.themed-img {
  width: 250px !important;
  height: 250px !important;
}
.user-avatar{
  width: 100px;
}
.user-icon-div{
  margin-top: 50px;
}
.container-slider{
  webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.box:hover {
 transition: 0.5s;
 transform: scale(1.1);
}
.logo {
  width: 150px;
  height: 100px;
}
.div-home{
  background: #ff5252 ;
}
.text-align-center{
  text-align: center;
}
