.overlay {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

section img {
  filter: opacity(0.5);
}
