<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <!--Creando estructura header: Navbar(Imput buscador-peril de usuario)-->
  <header>
    <!-- Barra de navegacion-->
    <nav class="row flex-row">
      <!--Div contenedor del logo Movifai-->
      <div class="col s2 l2 logo">
      </div>
      <!--Div contenedor del input buscador de videos-->
      <div class="col s9 l9 input-container">
        <input class="search-input" id="search-input" type="text" name="text" value="">
      </div>
      <!--Div contenedor de la imágen de perfil de ususario-->
      <div class="col s1 l1 user-profile" id="user-profile">
        <a href="#" data-activates="slide-out" class="show-user-perfil">
          <img class="img-user" src="../assets/images/user-img.png" alt="user">
        </a>
      </div>
    </nav>
  </header>
  <!--Barra lateral de perfil de usuario-->
  <ul id="slide-out" class="side-nav flex-column  center">
    <!--imagen de perfil de ususario-->
    <li>
      <div class="user-view">
        <img class="img-user-perfil" src="../assets/images/user-img.png" alt="user">
      </div>
    </li>
    <!--nombre de ususario-->
    <a href="#!name">
      <span class="white-text name cente">User Name</span>
    </a>
    <br>
    <a href="#" class="btn button-follow " type="button" name="button">Find friends</a>
    <!--informción de seguidores-->
    <br>
    <div class="row">
      <div class="col s6 l6">
        <h6>Following</h6>
        <div class="following">
          15
        </div>
      </div>
      <div class="col s6 l6">
        <h6>Followers</h6>
        <div class="followers">
          15
        </div>
      </div>
    </div>
  </ul>
  <div class="">
    <div class="carousel carousel-slider">
      <div class="carousel-item flex-row">
        <a class="" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
        <a class="" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
      </div>
      <div class="carousel-item flex-row">
        <a class="" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
        <a class="" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
      </div>
    </div>
  </div>
  <!-- Slider Section -->
  <section id="slider-section">
    <div class="row">
      <!-- Slider -->
      <div id="scroll-feature" class="horiz-scroll">
        <div class="scroller">
          <!-- Controles scroll -->
          <div class="left-scroll invisible">
            <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i>
          </div>
          <div class="right-scroll">
            <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
          </div>
          <div class="scroll-images scrollable-x">
            <!-- Slider images-->
            <img class="slider-movies" src="https://i.pinimg.com/736x/84/7d/8d/847d8d0a2c748413dadaf94ab4d74966--quentin-tarantino-tarantino-movies.jpg"
              alt="Image 2">
            <img class="slider-movies" src="http://www.wimpykid.com/wp-content/uploads/2013/09/rodrickrulesmovie.jpg" alt="Image 3">
            <img class="slider-movies" src="http://www.cines.com.py/images/dinamico/peliculas/1441/afiche/guardianes_es.jpg" alt="Image 4">
            <img class="slider-movies" src="https://ih0.redbubble.net/image.57066806.8556/flat,1000x1000,075,f.u4.jpg" alt="Image 5">
            <img class="slider-movies" src="https://lumiere-a.akamaihd.net/v1/images/r_coco_header_mobile_fcfae701.jpeg?region=0%2C0%2C640%2C1020"
              alt="Image 6">
            <img class="slider-movies" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm7DSMIUdpMLwJygJiL6f8NyKkis9pndyd-D1-HAxAa7tCOkdd"
              alt="Image 7">
            <img class="slider-movies" src="http://www.deperu.com/cine/portadas/portada233.jpg" alt="Image 8">
            <img class="slider-movies" src="http://s3.amazonaws.com/trendybynick.com-production/wp-content/uploads/2016/06/gallery-1466696248-hp-6-dvd-or-2d-1.jpg"
              alt="Image 9">
            <img class="slider-movies" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ98uYIKkHzBrLtbJyP3FmUZgRTWTpyYk58xkBEVTOtFQqTlspU"
              alt="Image 10">
            <img class="slider-movies" src="http://data.whicdn.com/images/50672326/tumblr_mhaoorAOty1qzkg8ro1_500_large.jpg" alt="Image 11">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- enlazando archivos js -->
  <script src="https://use.fontawesome.com/21b158d175.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/home.js"></script>
</body>

</html>
