<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <link rel="shortcut icon" href="assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/materialize/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="../css/slider.css">
</head>

<body>
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img class="img-slider" src="../assets/img/capture3.png">
        <div class="caption center-align">
          <h3>Find the best movies!</h3>
          <h5 class="light grey-text text-lighten-3">For every moment of your life.</h5>
        </div>
      </li>
      <li>
        <img class="img-slider" src="../assets/img/capture1.png">
        <div class="caption left-align">
          <h3>Choose what you want to see</h3>
          <h5 class="light grey-text text-lighten-3">... Or let us surprise you.</h5>
        </div>
      </li>
      <li>
        <img class="img-slider" src="../assets/img/capture4.png">
        <div class="caption right-align">
          <h3>A complete way of navigation made for you.</h3>
        </div>
      </li>
      <li>
        <img class="img-slider" src="../assets/img/capture2.png">
        <div class="caption center-align">
          <h3>Enjoy this new experience!</h3>
          <h5 class="light grey-text text-lighten-3">We are available for a wide range of devices.</h5>
        </div>
      </li>
      <div class="container-btn">
        <a id="btn-login" class="waves-effect waves-light btn color">
          <i class="fa fa-google-plus" aria-hidden="true"></i> Login with Google</a>
      </div>
    </ul>
  </div>
</body>
<!--Import jQuery before materialize.js-->
<script src="https://use.fontawesome.com/21b158d175.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
<script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
<script src="../js/slider.js"></script>
</body>

</html>